# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
extra-mods-1.18.2
*extra-mods*

# Files from Forge MDK
forge*changelog.txt
